<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

<action id="migasfree.pkexec.postinstalacion">
    <message>Authentication is required to return to post-installation:</message>
    <message xml:lang="es">Se requiere autenticación para volver a la post-instalación:</message>
    <icon_name>migasfree</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-volver-a-postinstalacion</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="migasfree.pkexec.deshabilitarmigasfree">
    <message>Authentication is required to configure the Migasfree client behavior:</message>
    <message xml:lang="es">Se requiere autenticación para configurar el comportamiento del cliente Migasfree:</message>
    <icon_name>migasfree</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-conf-migasfree-launcher</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="migasfree.pkexec.confcronmigasfree">
    <message>Authentication is required to configure the Migasfree client behavior:</message>
    <message xml:lang="es">Se requiere autenticación para configurar el comportamiento del cliente Migasfree:</message>
    <icon_name>migasfree</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-migasfree-launcher-conf-cron</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
