Source: vx-dga-l-migasfree-launcher
Section: utils
Priority: extra
Maintainer: Arturo Martín <amartinromero@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.7
Homepage: https://github.com/migasfree/migasfree-launcher

Package: vx-dga-l-migasfree-launcher
Architecture: all
Depends: ${misc:Depends}, migasfree-client (>=4.5), vx-dga-l-migasfree-client, vx-dga-l-variables-conf, bikeshed, migasfree-launcher (>=1.19), sipcalc, vx-dga-l-scripts (>=3.2), crudini, vx-dga-l-nwjs (>=1.0-2)
Replaces: vx-dga-l-migasfree-launcher (<< 5.0), vx-migasfree-launcher
Conflicts: vx-dga-l-migasfree-launcher (<< 5.0), vx-migasfree-launcher
Description: migasfree launcher para vitalinux edu DGA
 migasfree launcher adaptado para la versión vx edu (dga)
